@page
@model IllyriadAssist.Pages.harvestableInventory.byRegionModel

@{
    ViewData["Title"] = "Harvestable Inventory";
}

<h1>By Region</h1>

<p>
    <a asp-page="Index">By City</a> || <a asp-page="byRegion">By Region</a>
</p>
@foreach (var distinctRegion in Model.DistinctRegion)
    {
    <h3>@distinctRegion.DistinctRegionName</h3>

    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Item Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.illyData[0].ItemXGrid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.illyData[0].ItemYGrid)
                </th>
                <th>
                    Quantity on Grid
                </th>
                <th>
                    Last Updated
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RecentNotifies.Where(i => i.IllyRegionID == distinctRegion.DistinctRegionID))
            {
                @foreach (var indRes in Model.RareResourcesCoreData.Where(r => r.ResourceCode == item.IllyriadCode))
                {
                    <tr>
                        <td>
                            <img src="~/gameImages/rareMinerals/@indRes.ImageName" alt=@indRes.ResourceDescription height="30" width="30"/>
                        </td>
                        <td>
                            @indRes.ResourceName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemXGrid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemYGrid)
                        </td>
                        <td>
                            <center>@Html.DisplayFor(modelItem => item.GridQuantity)</center>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotificationDate)
                        </td>
                        <td>
                            <!--<a asp-page="./Edit" asp-route-id="@item.RecordID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.RecordID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.RecordID">Delete</a>-->
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    
}
